#login {
    background: linear-gradient(45deg, black, gray);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    display: flex;
    flex-direction: column;
    width: 40%;
    height: 150px ;
    border: solid white 3px;
    border-radius: 20px;
    padding: 20px;
    align-items: center;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: none;
}

.login_header {
    font-size: 25px;
    margin-top: 0;
    color: white;
    text-shadow: 0 0 10px #FFFFFF;color: #FFFFFF;
}

.login_input {
    width: 80%;
    margin: 5px;
    border: none;
    border-bottom: solid white 2px;
    font-size: 16px;
    background: transparent;
    color: white;
}

.login_input::placeholder {
    color: white;
}

.login_button {
    border-radius: 20px;
    font-size: 18px;
    margin-top: 5px;
    font-weight: bold;
    background-color: gray;
    color: white;
}

@keyframes loginAnim {
    100% {
        top:-50%;       
    }
}


#game {
    border: black solid 5px;
    border-radius: 10px;
    width: 800px;
    height: 800px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, black, gray);
}

#level {
    display: flex;
    flex-direction: column;
}

#levels_choose {
    display: flex;
} 

.levels_header {
    text-align: center;
    font-size: 40px;
    margin-top: 0;
    color: white;
    text-shadow: 0 0 10px #FFFFFF;color: #FFFFFF;
}

.level_icn {
    width: 100px;
    height: 100px;
    cursor: pointer;
    padding: 10px;
}

.level_icn:hover {
    outline: solid 5px royalblue;
}

#move_to_play {
    display: none;
}

#count {
    width: 300px;
    height: 300px;
}

#play {
    display: none;
}

#play_level {
    text-align: center;
    font-size: 40px;
    color: white;
    text-shadow: 0 0 10px #FFFFFF;color: #FFFFFF;
    margin-top: 0;
}

#game_board {
    margin-top: 0;
    margin-bottom: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#board {
    border-collapse: collapse;
    width: 500px;
    height: 500px;
}

#board >tr,td {
    text-align: center;
    font-size: 30px;
    padding: 10px;
    color: white;
    border: solid rgba(255, 255, 255, 0.527) 3px;
    border-radius: 10px;
}

#game_buttons {
    display: flex;
    justify-content: space-between;
}

.game_icn {
    width: 80px;
    height: 80px;
    cursor: pointer;
}

.game_icn:hover {
    outline: solid royalblue 3px;
}


